<aside class="main-sidebar sidebar-light-primary elevation-4">
  <!-- Brand title -->
  <a href="/" class="brand-link">
    <span class="brand-text font-weight-light">Manglar</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/img/user.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        {{#if user}}
          <a href="/" class="d-block">{{user.name}}</a>
          {{#ifCond user.rol '===' 'administrador'}}
            <a href="/users/administrador" class="d-block">Administrador</a>
          {{else}}
            {{#ifCond user.rol '===' 'estudiante'}}
              <a href="/users/estudiante" class="d-block">Estudiante</a>
            {{else}}
              {{#ifCond user.rol '===' 'profesor'}}
                <a href="/users/profesor" class="d-block">Profesor</a>
              {{/ifCond}}
            {{/ifCond}}
          {{/ifCond}}
          <a href="/users/logout" class="d-block">Salir</a>
        {{else}}
          <a href="/users/signup" class="d-block">Registrar</a>
        {{/if}}
      </div>
    </div> 

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
           <li class="nav-item">
          <a href="/users/signup" class="nav-link">
            <i class="nav-icon fas fa-user-circle"></i>
            <p>Registrar</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/users/logout" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>Salir</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>


 

